<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target name="error" xsi:type="File" encoding="UTF-8" fileName="MT4dotNetLog/error.log"/>
    <target name="native_error" xsi:type="File" encoding="UTF-8" fileName="MT4dotNetLog/native.log"/>
    <target name="clr_error" xsi:type="File" encoding="UTF-8" fileName="MT4dotNetLog/clr.log"/>
    <target name="common" xsi:type="File" encoding="UTF-8" fileName="MT4dotNetLog/common.log"/>
    <target name="debug" xsi:type="Debugger" />
    <target name="beat" xsi:type="File" encoding="UTF-8" fileName="MT4dotNetLog/beat.log"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
    <logger name="*" minlevel="Debug" writeTo="debug,common" />
    <logger name="*error" minlevel="Error" writeTo="error" />
    <logger name="native_error" minlevel="Error" writeTo="error,native_error" />
    <logger name="clr_error" minlevel="Error" writeTo="error,clr_error" />
    <logger name="beat" minlevel="Trace" writeTo="beat" />
  </rules>
</nlog>